
.space{
    margin-top: 350px;
    margin-bottom: 285px;
    margin-left: 120px;
}

.space2{
    margin-left: 10px;
    padding-right: 450px;

}

.space3{
    margin-top: 20px;
}

.space4{
    margin-left: 10px;
    padding-right: 545px;
}

.space-button{
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: orange;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    padding-top: 80px;
    padding-left: 10px;
    text-decoration: none;
    color: rgb(25, 52, 94, 1);
    
}


.text2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    padding-left: 10px;
    text-decoration: none;
    color: rgb(25, 52, 94, 1);
}

.text3{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 13px;
    padding-right: 13px;
}

.cover {
    background-color: #19345EA6;
    height: 850px;
    width: 600px;
}

.logo {
    background-color: #19345EA6;
    height: 850px;
    width: 600px;
}

